.contenedor-carrousel{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contenedor-carrousel .hero-image {
    justify-content: flex-end;
    border-radius: 10px;
}

.fade {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.fade.visible {
    opacity: 1;
}

.fade.hidden {
    opacity: 0;
}

/* Contenedor fijo para evitar salto de layout */
.contenedor-carrousel {
    width: 600px;      /* o el ancho de tus imágenes */
    height: 400px;     /* evita el "pop" por cambio de tamaño */
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
